<a href="https://colab.research.google.com/github/Afzar26/Python/blob/main/Pattern_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PATTERN PROGRAMS**

In [1]:
a = int(input('enter number of rows: '))
for r in range(1,a+1):
  for c in range(1,r+1):
    print(r, end=' ')
  print()

enter number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
a = int(input('enter number of rows: '))
for r in range(1,a+1):
  for c in range(1,r+1):
    print(c, end=' ')
  print()

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

##**SIMPLE STAR SQUARE PATTERN**

In [3]:
a = int(input('enter number of rows: '))
for r in range(a):
  for c in range(a):
    print('*', end=' ')
  print()

enter number of rows: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

##**INCREASING ORDER**

In [4]:
a = int(input('enter number of rows: '))
for r in range(a):
  for c in range(r+1):
    print('*', end=' ')
  print()

enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

##**DECREASING ORDER**

In [5]:
a = int(input('enter number of rows: '))
for r in range(a):
  for c in range(r,a):
    print('*', end=' ')
  print()

enter number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [6]:
a = int(input('enter number of rows: '))
for r in range(a):
  for c in range(r+1):
    print('*', end=' ')
  print()

for r in range(a):
  for c in range(r,a-1):
    print('*', end=' ')
  print()

enter number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

##**PYRAMID PATTERN**

In [7]:
a = int(input('enter number of rows: '))
for r in range(a):
  for c in range(r,a):
    print(' ',end= '')
  for c in range(r+1):
    print('*', end= ' ')
  print()

enter number of rows: 5
     *
    * *
   * * *
  * * * *
 * * * * *

## **REVERSE PYRAMID PATTERN**

In [8]:
a = int(input('enter number of rows: '))
for r in range(a):
  for c in range(r+1):
    print(' ',end= '')
  for c in range(r,a):
    print('*', end= ' ')
  print()

enter number of rows: 5
 * * * * *
  * * * *
   * * *
    * *
     *

##**DIAMOND PATTERN**

In [9]:
a = 5
for r in range(a-1):
  for c in range(r,a):
    print(' ',end= '')
  for c in range(r+1):
    print('*', end= ' ')
  print()

for r in range(a):
  for c in range(r+1):
    print(' ',end= '')
  for c in range(r,a):
    print('*', end= ' ')
  print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *