<a href="https://colab.research.google.com/github/Afzar26/Python/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**AREA OF TRIANGLE**

In [55]:
# using length and width

def area_of_triangle(l,w):
  a = 0.5*l*w
  return a

l = float(input('enter length: '))
w = float(input('enter width: '))
area_of_triangle(l,w)

enter length: 5
enter width: 3

7.5

In [56]:
# using sides    area = square root of s*s-a*s-b*s-c where s is the semiperimeter
def area_of_triangle(a,b,c):
  s = (a+b+c)/2
  a = (s*(s-a)*(s-b)*(s-c))**0.5
  return a

a = float(input('enter side1: '))
b = float(input('enter side2: '))
c = float(input('enter side3: '))

area_of_triangle(a,b,c)

enter side1: 4
enter side2: 5
enter side3: 2

3.799671038392666

##**CONCATENATE STRINGS**

In [57]:
a = 'hi! '
b = 'How are you'
c = a+b
print(c)

hi! How are you

##**LARGEST AMONG THREE NUMBERS**

In [58]:
a = float(input('enter num 1: '))
b = float(input('enter num 2: '))
c = float(input('enter num 3: '))
if a>b and a>c:
  print(f'{a} is greatest number')
elif b>a and b>c:
  print(f'{b} is greatest number')
else:
  print(f'{c}is greatest number')

enter num 1: 34
enter num 2: 54
enter num 3: 34
54.0 is greatest number

##**CHECK THE NUMBER IS PRIME OR NOT**

In [59]:
num = int(input('enter number: '))
for i in range(2,num):
  if num % i== 0:
   print(f'{num} is prime not number')
   break;
else:
  print(f'{num} is prime number')

enter number: 5
5 is prime number

##**FACTORIAL**

In [60]:
n = int(input('enter number: '))
f = 1
if n == 0:
  print(f'The Factorial of {n} is 1')
elif n<0:
  print('Sorry factorial of given number is does not exist')
else:
  for i in range(1,n+1):
    f = f*i
print(f'The factorial of {n} is {f}')

enter number: 7
The factorial of 7 is 5040

##**POSITIVE OR NEGATIVE**

In [61]:
num = float(input('Enter number: '))
if num>0:
  print(f'{num} is positive number')
elif num<0:
  print(f'{num} is negative number')
else:
  print('the number is zero')

Enter number: 8
8.0 is positive number

##**MULTIPLICATION TABLE**

In [62]:
a = int(input('which multiplication table you want: '))
for i in range (1,11):
  m = i*a
  print(f'{i} x {a} = {m}')

which multiplication table you want: 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

##**LEAP YEAR OR NOT**

In [63]:
y = int(input('enter year: '))
if y%4 == 0:
  if y%100 == 0:
    if y%400 == 0:
      print(f'{y} is a leap year')
    else:
      print(f'{y} is not a leap year')
  else:
    print(f'{y} is a leap year')
else:
  print(f'{y} is not a leap year')

enter year: 4500
4500 is not a leap year

##**CURRENT DATE**

In [64]:
from datetime import date
t = date.today()
print(f'Today Date: {t}')

Today Date: 2023-10-10

##**HCF OF TWO NUMBERS**

In [65]:
def hcf(a,b):    # using recursive function
  if b == 0:
    return a
  else:
    return hcf(b,a%b)  # a = b , b = a%b (which is remainder of a%b)

a = int(input('enter num1: '))
b = int(input('enter num2: '))
print(hcf(a,b))

enter num1: 4
enter num2: 7
1

##**LCM OF TWO NUMBER**

In [68]:
n1 = int(input('enter number1: '))
n2 = int(input('enter number2: '))
if n1>n2:
  higher = n1
else:
  higher = n2
increment = higher
while True:
  if higher % n1 == 0 and higher % n2 ==0:
    print(f'LCM of {n1} and {n2} is {higher}')
    break
  higher+=increment

enter number1: 6
enter number2: 8
LCM of 6 and 8 is 24

##**SQUARE OF THE NUMBER**

In [69]:
n = int(input('enter number: '))
def square(n):
  a = n**2
  print(f'{n} square is = {a}')

square(n)

enter number: 34
34 square is = 1156

##**CELSIUS TO FAHERNHEIT**

In [70]:
celsius = float(input('enter celsius: '))
fahernheit = (celsius * 1.8) + 32
print(f"Celsius: {celsius} into Fahernheit :{fahernheit} ")

enter celsius: 45
Celsius: 45.0 into Fahernheit :113.0

##**KILOMETERS INTO MILES**

In [71]:
km = float(input('enter: '))
conv_fac = 0.621371  # conversion factor
m = km*conv_fac
print(f'{km} KM = {m} miles')

enter: 1000
1000.0 KM = 621.371 miles

##**SWAPPING TWO NUMBER**

In [72]:
a = 12
b = 26
a,b = b,a
print('a: ',a)
print('b: ',b)

a:  26
b:  12

##**ARMSTRONG NUMBER**

In [73]:
# the given num is 153: 153== (1*3)+(5**3)+(3**3) 3=number digits
n = int(input('Enter number: '))
result = 0
temp = n
p = len(str(n))
while temp>0:
  d = temp%10
  result += d**p
  temp //=10
if n == result:
  print(f'{n} is eqaul to {result} \n{n} is a armstrong number')
else:
  print(f'{n} is not equal to {result} \n{n} is not a armstrong number')

Enter number: 153
153 is eqaul to 153
153 is a armstrong number

##**WHETHER THE ELEMENT IS PRESENT IN LIST OR NOT**

In [74]:
list = [1,2,3,4,5,6,7]
i = 5
if i in list:
  print(f'{i} is present in list')
else:
  print(f'{i} is not present in list')

5 is present in list

##**REVERSE THE LIST AND NUMBER**

In [75]:
l = [1,2,3,4,5,6,7,8,9,10]
re = l[::-1]
print(f'Reverse list: {re}')

n = int(input('enter a number: '))
r = str(n)
print('Reverse number: ',r[::-1])

Reverse list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
enter a number: 3456
Reverse number:  6543

## **PALINDROME OR NOT**

In [76]:
s = input('enter string: ')
r = s[::-1]
if s == r:
  print(f'{s} is palindrome: {r}')
else:
  print(f'{s} is not palindrom: {r}')

enter string: malayalam
malayalam is palindrome: malayalam

# **PATTERN PRINTING**

In [77]:
n  = int(input('enter rows: '))
for r in range(n+1):
  for c in range(r):
    print('*',end=' ')
  print()

enter rows: 5

*
* *
* * *
* * * *
* * * * *

In [78]:
n  = int(input('enter rows: '))
for r in range(n+1,0,-1):
  for c in range(r):
    print('*',end=' ')
  print()

enter rows: 5
* * * * * *
* * * * *
* * * *
* * *
* *
*

#**ODD OR EVEN NUMBER**

In [79]:
n = int(input('enter number: '))
if n%2 == 0:
  print(f'{n} is even number')
else:
  print(f'{n} is odd number')

enter number: 4
4 is even number

# **SUM OF n NUMBERS**

In [80]:
n = int(input('How many numbers you want sum: '))
s = 0
print(f'Enter {n} numbers: ')
for i in range(n):
  a = int(input())
  s+=a
print(f'Sum of {n} numbers is : {s}')

How many numbers you want sum: 5
Enter 5 numbers:
34
4
34
43
6
Sum of 5 numbers is : 121

# **FIND VOWELS IN STRING**

In [81]:
st = input('Enter string: ')
v = 0
for i in st:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
    v += 1
print(f'Number of vowels are: {v}')

Enter string: happy
Number of vowels are: 1

# **GENERATE ALL THE DIVISORS OF THE INTEGER**

In [82]:
a = int(input('enter integer: '))
print(f'The divisors of the {a}: ')
for i in range(1,a+1):
  if a%i == 0:
    print(i)

enter integer: 26
The divisors of the 26:
1
2
13
26

#**GET THE 5 SUBJECT MARKS AND DISPLAY GRADE**

In [83]:
sub1 = int(input('Enter subject1 mark: '))
sub2 = int(input('Enter subject2 mark: '))
sub3 = int(input('Enter subject3 mark: '))
sub4 = int(input('Enter subject4 mark: '))
sub5 = int(input('Enter subject5 mark: '))
ave = (sub1+sub2+sub3+sub4+sub5)//5
print(f'your average is : {ave}')
if ave>=90:
  print(f'your grade is O')
elif ave>=80 and ave<90:
  print(f'your grade is A+')
elif ave>=70 and ave<80:
  print(f'your grade is A')
elif ave>=60 and ave<70:
  print(f'your grade is B+')
elif ave>=50 and ave<60:
  print(f'your grade is B')
else:
  print(f'your grade is F')

Enter subject1 mark: 34
Enter subject2 mark: 56
Enter subject3 mark: 76
Enter subject4 mark: 98
Enter subject5 mark: 67
your average is : 66
your grade is B+

#**DECIMAL TO BINARY NUMBER**

In [84]:
k = int(input('enter decimal number: '))
b = bin(k)
print(f'binary number of {k} is {b[2:]}')

enter decimal number: 36
binary number of 36 is 100100

#**AREA OF RECTANGLE USING CLASSES**

In [87]:
class rectangle():
  def __init__ (s,l,b):
    s.l = l
    s.b = b

  def area(s):
    v = s.l*s.b
    return v

l = int(input('Enter length of the rectangle: '))
b = int(input('Enter breadth of the rectangle: '))
ar = rectangle(l,b)
h = ar.area()
print(f'Area of rectangle is {h}')

Enter length of the rectangle: 34
Enter breadth of the rectangle: 5
Area of rectangle is 170

#**SIMPLE CALCULATOR**

In [88]:
class calc():
  def __init__ (s, a, b):
    s.a = a
    s.b = b

  def add(s):
    c = s.a + s.b
    print(f'Addition of {s.a} and {s.b}: {c}')

  def sub(s):
    d = s.a - s.b
    print(f'Subraction of {s.a} from {s.b}: {d}')

  def mul(s):
    e = s.a * s.b
    print(f'Multiplication of {s.a} x {s.b}: {e}')

  def div(s):
    f = s.a / s.b
    print(f'Division of {s.a} by {s.b}: {f}')

print('1. for addtion \n2. for subraction \n3. for multiplication \n4. for division')

while True:

  o = input('Press any one of the following: ')

  if o in ('1','2','3','4'):
    try:
      a = float(input('Enter number a: '))
      b = float(input('Enter number b: '))
      c = calc(a,b)
    except ValueError:
      print("Invalid input. Please enter a number.")

    if o == '1':
      c.add()

    elif o == '2':
      c.sub()

    elif o == '3':
      c.mul()

    elif o == '4':
      c.div()

    l = input('if you want to continue type yes \nif you want to exit type no \nEnter: ')
    if l == 'no':
      print('Thank You')
      break
else:
  print('Invalid input')

1. for addtion
2. for subraction
3. for multiplication
4. for division
Press any one of the following: 2
Enter number a: 45
Enter number b: 35
Subraction of 45.0 from 35.0: 10.0
if you want to continue type yes
if you want to exit type no
Enter: yes
Press any one of the following: 3
Enter number a: 3
Enter number b: 5
Multiplication of 3.0 x 5.0: 15.0
if you want to continue type yes
if you want to exit type no
Enter: no
Thank You